<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
  <h3 th:text="${titulo}"></h3>
  <ul>
      <li th:text="${identidicador}"></li>
      <li th:text="${nombre}"></li>
      <li th:text="${apellido}"></li>
      <li th:text="${username}"></li>
      <li th:text="${password}"></li>
      <li th:text="${email}"></li>
  </ul>

  <ul>
      <li th:text="${user.identificador}"></li>
      <li th:text="${user.nombre}"></li>
      <li th:text="${user.apellido}"></li>
      <li th:text="${user.username}"></li>
      <li th:text="${user.password}"></li>
      <li th:text="${user.email}"></li>
      <li th:text="${user.pais}"></li>
      <li th:text="${#dates.format(user.fechaNacimiento,'dd/MM/yyyy')}"></li>

  </ul>


</body>
</html>
